body
{
  background-color: white;
  background-position: center; /* Center the image */
   /* Do not repeat the image */
  background-size: auto;
  text-align: center;
   font-size: 120%;
}

h2{

  font-size: 30px;
  vertical-align: middle;
}

h4 {
  text-align:center;
  padding-top: 50px;
  font-size: 30px;
}

.header {
  width: 32%;
  margin: 50px auto 0px;
  color: white;
  background: rgba(0,70,100);
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 5x 5px 0px 0px;
  padding: 7px;
}

.table th{

  vertical-align: middle;
  text-align: center;
}

.table td{
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 70px auto;


}
th,
td {
 
  margin : auto;
  height: 50px;
 
  align-content: center;
  
  
}
thead {
	text-align: center;
}


form, .content {
  
  width: 100%;
  margin:auto;
   
  border-radius: 0px 0px 5px 5px;
  
}
.input-group {
  margin: 10px 0px 10px 0px;
  display: block;
}
.input-group label {
  display: block;
  margin: 3px;
}
.input-group input {
  text-align: center;
  height: 50px;
  
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid gray;
 
}
.btn {
  text-align: center;
  padding:  10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d;  
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

